
header {
    padding: 20px 30px;
    background-color: #333333;
    color: antiquewhite;
    text-align: center;

}

div h3 {
    font-size: 30px;
        position: relative; 
    bottom: 30px;
    color: #4e2a2a;
}

div ul {
    position: relative; 
    bottom: 40px;
    font-weight: 700;
    color: #4e2a2a;
    font-size: larger;
}

div  {
    float:left;
    padding-left: 50px;
}


img {
    float:left;
    padding-right: 35px;
    display: inline;
    max-width: 200px;
    max-height: 200px;
}


P {
float:left;
padding-right: 30px;
font-size: 25px;
color: #84563c;
}


h2 {
color:#4e2a2a;
font-size: 30px;
position: relative; 
top: 15px;
}